services:
  - type: web
    name: study-together-api
    runtime: node
    plan: free
    buildCommand: npm ci && npm run build && npm prune --omit=dev
    startCommand: node --max-old-space-size=460 dist/main.js
    envVars:
    - key: NODE_OPTIONS
      value: --max-old-space-size=460
    - key: PORT
      value: 3000
    - key: NODE_ENV
      value: production
    - key: MONGODB_URI
      sync: false
    - key: JWT_SECRET
      sync: false
    - key: JWT_EXPIRES_IN
      value: 7d
    - key: EMAIL_HOST
      sync: false
    - key: EMAIL_PORT
      sync: false
    - key: EMAIL_USER
      sync: false
    - key: EMAIL_PASSWORD
      sync: false
    - key: EMAIL_FROM
      sync: false
    - key: FRONTEND_URL
      sync: false
    - key: CLOUDINARY_CLOUD_NAME
      sync: false
    - key: CLOUDINARY_API_KEY
      sync: false
    - key: CLOUDINARY_API_SECRET
      sync: false